* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}

.field {
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 16px;
  height: 40px;
}

button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 12px;
}
